{
    "env": {
        "browser": true,
        "jasmine": true,
        "node": true
    },
    "ecmaFeatures": {
        "modules": true,
        "modules": true
    },
    "rules": {
        "semi": 2,
        "no-underscore-dangle": false,
        "no-debugger": false
    }
}
