$sprites_url: url(/img/choices/spock-lizard-sprites.png);

.spock-lizard {
    .lizard {
        background: $sprites_url no-repeat;
        background-position: 0 0;
        width: 50px;
        height: 50px;
    }
    .paper {
        background: $sprites_url no-repeat;
        background-position: -50px 0;
        width: 50px;
        height: 50px;
    }
    .rock {
        background: $sprites_url no-repeat;
        background-position: -100px 0;
        width: 50px;
        height: 50px;
    }
    .scissors {
        background: $sprites_url no-repeat;
        background-position: -200px 0;
        width: 50px;
        height: 50px;
    }
    .spock {
        background: $sprites_url no-repeat;
        background-position: -150px 0;
        width: 50px;
        height: 50px;
    }
}
